.lecture-sous-titre-paddding {
    margin:  10px 0px 15px 0px;
}

.lecture-sous-titre-paddding h3 {
    text-align: left
}

.h2-video-celine {
    text-align:center; 
    max-width: 800px;
    margin: 0px auto 20px auto;
}


