.img-chambre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-chambre {
    margin-bottom:10px;
   
}

.img-nature {
    // border: 4px solid #ccecfa;
    // border-radius: 30px;
}

.nature-sous-rubrique {
    background-color: #ccecfa;
    border-radius:5px;
}

.nature-sous-rubrique h3 {
    color: #224358 !important;
    text-align: center;
    margin:0px; 
    padding: 5px;
}

.container-sous-rubrique {
    padding: 0px !important;
    margin-bottom: 10px;
}

.col-12-sous-rubrique {
    padding: 0px !important;
}

.cont-img-salon {
    margin-top: 20px;
}


h2.h2-pedagogie-size {

    margin-bottom: 15px
}

@media screen and (min-width: 992px) {
  h2.h2-pedagogie-size  {
    width: 900px;
    margin: 0px auto 15px auto;
  }
} 