body {
    margin: 0px;
    margin-bottom: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #224358;
}

p {
   font-family: 'Open Sans', sans-serif; 
   color: #224358;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.link:over {
    text-decoration: none;
}