.neuro-citations {
    text-align: center;
}

.neuro-citations p {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #11689e;
}

@media screen and (min-width: 992px) {
  .neuro-citations {
    width: 800px;
    margin: 0 auto;
  }
} 

.neuro-h2 h2 {
    color: #03bddf;
    font-weight:bold;
}



.neuro-citations-2 p {
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #11689e;
}

@media screen and (min-width: 992px) {
  .neuro-citations-2 p  {
    font-size: 20px;
  }
} 


.neuro-p-valeur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.pro-value {
    text-align: center;
}

@media screen and (min-width: 992px) {
  .pro-value {
    width: 900px;
  }
} 

.image-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-musique {
  text-align:center; 
  font-weight:bold; 
  padding:15px;
  margin:0 auto;
}


@media screen and (min-width: 992px) {
  .intro-musique {
    width: 1100px;
  }
} 


.intro-montessori {
  text-align:center; 
  font-weight:bold; 
  padding:15px;
  margin:0 auto;
}


@media screen and (min-width: 992px) {
  .intro-montessori {
    width: 950px;
  }
} 

