
// • Booster > home
// • Dev > home
// • Dev > troubles
.dev-title h2{
    font-size: 18px;
    margin-bottom: 30px;
    // padding: 0px 60px 0px 30px;
    text-align: center;
}

@media screen and (min-width: 992px) {
  .dev-title h2 {
    width: 950px;
    text-align: center;
    margin: 10px auto 20px auto;
    font-size: 20px;
  }
} 


.title-dev {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 992px) {
  .title-dev-1 {
    width: 800px;
  }
} 

