// Specific CSS for your home-page


//ACTIVITIES
.activities {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}


.home-quote-container {
    margin-top: 60px;
}


.home-quote-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.quote-width-992px {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

@media screen and (min-width: 992px) {
.quote-width-992px{
    width:950px;
    font-size: 25px;
}
} 

@media screen and (min-width: 992px) {
.quote-width-992px{
    width:950px;
    font-size: 25px;
}
} 

@media only screen
  and (min-width: 768px)
  and (max-width: 991px)
   {
    .quote-width-992px   {
        width:600px;
        font-size: 25px;
    }
}

cite.home-cite {
    display: block;
    text-align: center;
    margin: 0 auto;
}


div.col-12-margin-top {
    margin-top: 40px;
}

div.col-12-margin-bottom {
    margin-bottom: 50px;
}

.container-video-margin {
    margin-top:50px;
}

.home-video-h2 {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding:0px 2px;
}

@media screen and (min-width: 992px) {
.home-video-h2{
    font-size: 25px;
}
} 

.home-reclame {
    margin-bottom: 40px;
}