

<div class="col-md-12 col-lg-4">
    <%= link_to apprentissages_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
        <div class="box-AAA-menu-general-inside-math" style="background-color:#ccecfa !important;">
            <p style="color:#224358 !important;">Tous les apprentissages</p>
        </div>
    <% end %>
</div>