<%# FOOTER %>
    <div class="footer-all" style="background-image: linear-gradient(rgba(0,0,0,3),rgba(0,0,0,0.3)), url(<%= asset_path 'footer.jpg' %>)">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>HELLO HOUSTON LEARNINGS</h1> 
                 <p>contact@hello-houston-learnings.com</p>
            </div>
        </div>
    </div>  
</div>