<div class="container" style="margin-top: 20px; margin-bottom: 30px">
    <div class="row">
        <div class="col-12">
            <div class="box-reference">
                <h1>Notre sélection des "fantastiques" de l'apprentissage !</h1>
                <p class="ref-author">Céline Alvarez</p>
                <p>"la neuropédagogue qui fait des miracles avec les enfants." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Idriss Aberkane</p>
                <p>"La porte d'entrée des neurosciences. L'évangéliste de la neuroergonomie." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Stanislas Dehaene</p>
                <p>"La référence en matière de neurosciences." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Charlotte Poussin</p>
                <p>"La porte d'entrée de la pédagogie Montessori." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Monica Neagoy</p>
                <p>"Grâce à Monica Neagoy, la méthode de Singapour n'aura plus de secret pour vous." <span class="journalist">(Hello Houston Learnings)</span></p>
                <p class="ref-author">Isabelle Peretz</p>
                <p>"Isabelle Peretz vous dira tout sur les bienfaits de la musique pour votre enfant." <span class="journalist">(Hello Houston Learnings)</span></p>
            </div>
        </div>

    </div>
</div>


<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="image-book">
                <%= image_tag("apprentissages-fantastiques.jpg", class: ".img-fluid img-motricite") %>
            </div>
        <div class="col-1"></div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:30px; margin-bottom:30px">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="image-book">
                <%= image_tag("apprentissages-fantastiques-2.jpg", class: ".img-fluid img-motricite") %>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>