

<div class="container container-menu-all-learnings" >
    <div class="row">
        <div class="col-12">
            <div>
                <h2 id="tile-menu-all-learnings">Tous les apprentissages Hello Houston Learnings</h2>
            </div>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 10px">
    <div class="row">

<%# **************************************************************************** %>

        <div class="col-md-12 col-lg-4  ">
            <%= link_to apprentissage_nature_enfant_2_a_6_ans_path, class: "box-link ", data: { turbolinks: false } , :action => 'go' do %>
                <div  class=" display-box-menu-learning-all">
                    <p>Nature</p>
                </div>
            <% end %>
        </div>
   


        <div class="col-md-12 col-lg-4  ">
            <%= link_to apprentissage_lecture_enfant_2_a_6_ans_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div  class=" display-box-menu-learning-all ">
                    <p>Lecture</p>
                </div>
            <% end %>
        </div>

        <div class="col-md-12 col-lg-4  ">
            <%= link_to apprentissage_temps_enfant_2_a_6_ans_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div  class=" display-box-menu-learning-all ">
                    <p>Temps</p>
                </div>
            <% end %>
        </div>

        <div class="col-md-12 col-lg-4  ">
            <%= link_to apprentissage_mathematiques_enfant_2_a_6_ans_path, class: "box-link", data: { turbolinks: false } , :action => 'go' do %>
                <div  class=" display-box-menu-learning-all ">
                    <p>Mathématiques</p>
                </div>
            <% end %>
        </div>



<%# **************************************************************************** %>

    </div>
</div>