<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to root_path do %>
        <%= image_tag "rocket_1.png", data: { turbolinks: false } %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         
        
        <li class="nav-item">
          <a class="nav-link" href="#">Apprentissages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Développment de l'enfant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Les boosters de l'apprentissage</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>