<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h6 class="the-selection">La sélection de l'équipe "Hello Houston Learnings" 
                basée sur les neurosciences, la méthode de Singapour et la pédagogie Montessori. </h6>
            </div>     
        </div>
    </div>
</div>