<div class="container">
    <div class="row">
        <div class="col-12">
            <div>
                <h3 class="the-selection">La boîte à idées 
                basée sur les neurosciences, la méthode de Singapour, l'école de la forêt (forest school) et l'approche Montessori. </h3>
            </div>     
        </div>
    </div>
</div>