
<% @title="Apprentissage par le jeu des Mathématiques pour les Enfants de 2 à 6 ans | Hello Houston Learnings" %>

<% content_for :head do %>
    <meta name="description" content="L'apprentissage par le jeu des mathématiques pour les enfants de 2 à 6 ans : 
apprendre à compter devient un jeu d'enfant avec la méthode de Singapour et la pédagogie Montessori.">
<% end %>

<%# ************************* FACEBOOK *************************************************** %>
<% content_for :head do %>
<meta property="og:url"                content="https://www.hello-houston-learnings.com/apprentissage-mathematiques-enfant-2-a-6-ans" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Apprentissage par le jeu des mathématiques pour les enfants de 2 à 6 ans | Hello Houston Learnings" />
<meta property="og:description"        content="Apprendre à compter devient un jeu d'enfant avec la méthode de Singapour et la pédagogie Montessori." />
<meta property="og:image"              content="https://www.hello-houston-learnings.com/assets/prom-math-2669dd54606a49e8f9a26f2a3ac30a245e9d4dfb494766f52836204b1f147d4f.jpg" />
<% end %>
<%# ************************* FACEBOOK *************************************************** %>



<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 img-chambre" >
            <%= image_tag("prom-math.jpg", class: "img-fluid img-motricite img-nature") %>
        </div>
        <div class="col-1"></div>
    </div>
 </div> 