
<% @title="Apprentissage par le jeu de la Lecture pour les Enfants de 2 à 6 ans | Hello Houston Learnings" %>

<% content_for :head do %>
    <meta name="description" content="L'apprentissage par le jeu de la lecture pour les enfants de 2 à 6 ans : 
donnez à votre enfant le goût de la lecture. Initiez votre enfant à la lecture à partir de 3 ans
 avec les lettres rugueuses.">
<% end %>

<%# ************************* FACEBOOK *************************************************** %>
<% content_for :head do %>
<meta property="og:url"                content="https://www.hello-houston-learnings.com/apprentissage-lecture-lettres-rugueuses-enfant-2-a-6-ans-p" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Apprentissage par le jeu de la Lecture pour les Enfants de 2 à 6 ans | Hello Houston Learnings" />
<meta property="og:description"        content="Donnez à votre enfant le goût de la lecture. Initiez votre enfant à la lecture à partir de 3 ans
                                                avec les lettres rugueuses." />
<meta property="og:image"              content="https://www.hello-houston-learnings.com/assets/lettres-rugueuses-apprentissage-lecture-82ac1e8addc7c4aad88b24008748b07a1a961fbbd7ff1135588a11b1d8a4f2a9.jpg" />
<% end %>
<%# ************************* FACEBOOK *************************************************** %>



<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 img-chambre" >
            <%= image_tag("lettres-rugueuses-apprentissage-lecture.jpg", class: "img-fluid img-motricite img-nature") %>
        </div>
        <div class="col-1"></div>
    </div>
 </div> 

 <br>
 <br>



<%# <div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 img-chambre" >
            <a href="" style="color: #ff0000; font-size: 200px;"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-1"></div>
    </div>
 </div>  %>
