
<% @title="Apprentissage par le jeu des Mathématiques pour les Enfants de 2 à 6 ans | Hello Houston Learnings" %>

<% content_for :head do %>
    <meta name="description" content="L'apprentissage par le jeu des mathématiques pour les enfants de 2 à 6 ans : 
apprendre à compter devient un jeu d'enfant avec la méthode de Singapour et la pédagogie Montessori.">
<% end %>

<%# ************************* FACEBOOK *************************************************** %>
<% content_for :head do %>
<meta property="og:url"                content="https://www.hello-houston-learnings.com/apprentissage-mathematiques-enfant-2-a-6-ans" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Apprentissage par le jeu des mathématiques pour les enfants de 2 à 6 ans | Hello Houston Learnings" />
<meta property="og:description"        content="Apprendre à compter devient un jeu d'enfant avec la méthode de Singapour et la pédagogie Montessori." />
<meta property="og:image"              content="https://www.hello-houston-learnings.com/assets/PROM-forest-schools-f9add78604ee6ac89b5d4000647e2527a2d07716a93b4bdfbef094cbc344e4f1.jpg" />
<% end %>
<%# ************************* FACEBOOK *************************************************** %>



<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 img-chambre" >
            <%= image_tag("PROM-forest-schools.jpg", class: "img-fluid img-motricite img-nature") %>
        </div>
        <div class="col-1"></div>
    </div>
 </div> 

 <br>
 <br>



<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 img-chambre" >
            <a href="" style="color: #ff0000; font-size: 200px;"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-1"></div>
    </div>
 </div> 

 