
<% @title="Apprentissage par le Jeu de la Nature pour les Enfants 2 à 6 ans | Hello Houston Learnings" %>

<% content_for :head do %>
    <meta name="description" content="L'apprentissage par le jeu de la nature pour les enfants de 2 à 6 ans : 
apprendre à aimer la nature est un des plus beaux cadeaux qu'on puisse faire à un enfant.">
<% end %>

<%# ************************* FACEBOOK *************************************************** %>
<% content_for :head do %>
<meta property="og:url"                content="https://www.hello-houston-learnings.com/apprentissage-nature-forest-school-enfant-2-a-6-ans-p-x-y" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="Apprentissage par le Jeu de la Nature pour les Enfants 2 à 6 ans | Hello Houston Learnings" />
<meta property="og:description"        content="Apprendre à aimer la nature est un des plus beaux cadeaux qu'on puisse faire à un enfant" />
<meta property="og:image"              content="https://www.hello-houston-learnings.com/assets/PROM-forest-schools-bd7538d01732f378d0e932dbac8bb367e5553bc843353eeb8aa8892810bf302e.jpg" />
<% end %>
<%# ************************* FACEBOOK *************************************************** %>



<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 img-chambre" >
            <%= image_tag("PROM-forest-schools.jpg", class: "img-fluid img-motricite img-nature") %>
        </div>
        <div class="col-1"></div>
    </div>
 </div> 

 <br>
 <br>



<%# <div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 img-chambre" >
            <a href="" style="color: #ff0000; font-size: 200px;"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="col-1"></div>
    </div>
 </div>  %>
