<div class="banner-home">
        <div class="container">
            <h1>Hello Houston Learnings</h1> 
            <p>LEARNINGS THROUGH PLAY FOR THE 2 to 6 YEARS OLD</p>
            <p>Comming soon!</p>
        </div>  
    </div>