<% @title="Home" %>

<div class="banner-home-temp" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path 'hans-peter-gauster-3y1zF4hIPCg-unsplash.jpg' %>)">
        <div>
            <h1>Hello Houston Learnings </h1> 
            <p>LEARNINGS THROUGH PLAY (2-6 Years Old)</p>
            <p>Coming soon!</p>
            <p>contact@hello-houston-learnings.com</p>
        </div>  
    </div>