<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%= asset_path 'hans-peter-gauster-3y1zF4hIPCg-unsplash.jpg' %>)">
        <div>
            <h1>Hello Houston Learnings</h1> 
            <p>LEARNINGS THROUGH PLAY FOR 2 to 6 YEARS OLD</p>
            <p>Coming soon!</p>
        </div>  
    </div>