

//HOME PAGE

.banner-home {
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

@media screen and (min-width: 768px) {
  .banner-home  {
    height: 400px;
  }
} 

.banner-home  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.banner-home  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-home  h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-home  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


// HOME PAGE TEMP
.banner-home-temp {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.banner-home-temp  h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.banner-home-temp  p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


//SINGAPOUR

.banner-singapour {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.banner-singapour  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.banner-singapour  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-singapour  h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-singapour  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}








