

//HOME PAGE

.banner-home {
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

@media screen and (min-width: 768px) {
  .banner-home  {
    height: 400px;
  }
} 

.banner-home  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.banner-home  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-home  h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-home  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


// HOME PAGE TEMP
.banner-home-temp {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.banner-home-temp  h1 {
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.banner-home-temp  p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


//SINGAPOUR

.banner-singapour {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.banner-singapour  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.banner-singapour  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-singapour  h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-singapour  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

//JEU

.banner-jeu {
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.banner-jeu  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.banner-jeu  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-jeu  h3 {
    font-size: 25px;
    // font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-jeu  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


//BOOSTER > 3 SUPERS HÉROS > NEUROSCIENCES > 4 PILIERS

.banner-4-piliers {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.banner-4-piliers  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.banner-4-piliers  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-4-piliers  h3 {
    font-size: 25px;
    // font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-4-piliers  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



//BOOSTER > 3 SUPERS HÉROS > NEUROSCIENCES > NEUROERGONOMIE

.banner-neurosciences {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.banner-neurosciences  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
}

.banner-neurosciences  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-neurosciences  h3 {
    font-size: 25px;
    // font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-neurosciences  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


//BOOSTER > 3 SUPERS HÉROS > NEUROSCIENCES > ACTIVITÉS

.banner-activités {
    background-size: cover;
    background-position: center;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.banner-activités  h1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 0px;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .banner-activités  h1 {
    font-size: 30px;
  }
} 

.banner-activités  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-activités  h3 {
    font-size: 25px;
    // font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-activités  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


//BOOSTER > ENVIRONNEMENT > MONTESSORI > CHAMBRE



.banner-montessori {
    background-size: cover;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

@media screen and (min-width: 992px) {
  .banner-montessori {
    height: 350px;
  }
} 

.banner-montessori  h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 32px;
}

.banner-montessori  h2 {
    font-size: 30px;
    font-weight: bold;
    color: red;
    margin-bottom: 32px;
}

.banner-montessori  h3 {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-montessori  p {
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
