

// BOX HOME

// BOX LEARNINGS

// BOX DEVELOPMENT

// BOX BOOSTERS
    // BOOSTERS
    // BOOSTERS > GAME
    // BOOSTERS > ENVIRONEMENT
        // BOOSTERS > ENVIRONEMENT > CHAMBRE
        // BOOSTERS > ENVIRONEMENT > CUISINE
    // BOOSTERS > NEUROSCIENCES + SINGAPOUR...



.box-home {
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-home {
    height: 200px;
  }
} 


.box-home p {
    margin-bottom: 0px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-home p{
    font-size: 25px;
    padding: 0 10px;
  }
} 

.box-link:hover {
    text-decoration: none;
    color: white;
}

.box-link {
    text-decoration: none;
}

// LEARNINGS


.box-learnings {
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
    position: relative;
}

@media screen and (min-width: 992px) {
  .box-learnings {
    height: 150px;
  }
} 


.box-learnings p {
    margin-bottom: 0px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 1201px) {
  .box-learnings p{
    font-size: 30px;
    padding: 0 10px;
  }
} 

@media only screen
  and (min-width: 992px)
  and (max-width: 1200px)
   {
    .box-learnings.font-size p   {
        font-size: 20px; 
    }
}

// BOX BOOSTERS
    // BOOSTERS
        // BOOSTERS > JEU
        // BOOSTERS > ENVIRONEMENT
            // BOOSTERS > ENVIRONEMENT > CHAMBRE
                // • BOOSTERS >  ENVIRONNEMENT > CHAMBRE > LEITMOTIV
                // • BOOSTERS >  ENVIRONNEMENT > CHAMBRE > POINTS
            // BOOSTERS > ENVIRONEMENT > CUISINE
        // BOOSTERS > 3 SUPERS HÉROS
            // BOOSTERS > NEUROSCIENCES
                // BOOSTERS > NEUROSCIENCES > ACTIVITÉS

// *****************************************************************************

// • BOOSTERS


.box-boosters {
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-boosters {
    height: 150px;
  }
} 

.box-boosters p {
    margin-bottom: 0px;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-boosters p{
    font-size: 30px;
    padding: 0 10px;
  }
} 

.box-reference {
    background-color: #03bddf;
    // background-size: cover;
    // background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .box-reference {
    height: 100%;
  }
} 


.box-reference h1 {
    margin-bottom: 0px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.box-reference p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-reference p{
    font-size: 15px;
    padding: 0 10px;
  }
} 


@media screen and (min-width: 992px) {
  .box-reference h1{
    font-size: 30px;
    padding: 0px 10px 10px 10px ;

  }
} 

.ref-author {
  color: #224358 !important;
}

.journalist {
  font-style: italic;
  font-size: 10px;
}

// BOOSTERS > JEU

.box-jeu {
    background-color: #03bddf;
    // background-size: cover;
    // background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    // font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .box-jeu {
    height: 100%;
  }
} 


.box-jeu h1 {
    margin-bottom: 0px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-jeu h1{
    font-size: 30px;
    padding: 0px 10px 10px 10px ;

  }
} 

.box-jeu h2 {
    margin-bottom: 0px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

@media screen and (min-width: 992px) {
  .box-jeu h2{
    font-size: 30px;
    padding: 0px 10px 10px 10px ;

  }
} 


.box-jeu p {
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-jeu p{
    font-size: 20px;
    padding: 0 10px;
  }
} 





// • BOOSTERS > HOME > ENVIRONNEMENT

.box-env-principes {
    background-color: #ccecfa;
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-env-principes{
    height: 100px;
  }
} 


.box-env-principes p {
    margin-bottom: 0px;
    font-size: 15px;
    // text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-env-principes p{
    font-size: 20px;
    padding: 0 10px;
  }
} 

// • BOOSTERS >  ENVIRONNEMENT > CHAMBRE

// • BOOSTERS >  ENVIRONNEMENT > CHAMBRE > LEITMOTIV

.box-jeu-leitmotiv {
    background-color: #03bddf;
    // background-size: cover;
    // background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    // font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .box-jeu-leitmotiv {
    height: 100%;
  }
} 


.box-jeu-leitmotiv h3 {
    margin-bottom: 0px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.box-jeu-leitmotiv p {
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-jeu-leitmotiv p{
    font-size: 20px;
    padding: 0 10px;
  }
} 


@media screen and (min-width: 992px) {
  .box-jeu-leitmotiv h3{
    font-size: 30px;
    padding: 0px 10px 10px 10px ;

  }
} 

// • BOOSTERS >  ENVIRONNEMENT > CHAMBRE > POINTS

.box-jeu-points {
    background-color: #03bddf;
    // background-size: cover;
    // background-position: center;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    // font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .box-jeu-points {
    height: 150px;
  }
} 


.box-jeu-points h3 {
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

@media screen and (min-width: 992px) {
  .box-jeu-points h3{
    font-size: 25px;
    padding: 0px 10px 10px 10px ;
    

  }
} 

.box-jeu-points p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-jeu-points p{
    font-size: 15px;
    padding: 0 10px;
  }
} 

.box-room {
    // background-color: #03bddf;
    // background-size: cover;
    // background-position: center;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // color: white;
    // font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    padding: 10px;
    border: 4px solid #03bddf;
}

@media screen and (min-width: 992px) {
  .box-room {
    height: 100%;
  }
} 


.box-room h2 {
    margin-bottom: 0px;
    color: #03bddf;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.box-room p {
    margin-bottom: 0px;
    // color: white;
    font-size: 15px;
    // text-align: justify;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-room p{
    font-size: 15px;
    padding: 0 10px;
  }
} 

.box-room ul li {
    margin-bottom: 0px;
    // color: white;
    font-size: 15px;
    // text-align: justify;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-room ul li{
    font-size: 15px;
    padding: 0 10px;
  }
} 


@media screen and (min-width: 992px) {
  .box-room h2{
    font-size: 30px;
    padding: 0px 10px 10px 10px ;

  }
} 

.box-activites-container {
  margin-bottom: 10px;
}

.box-container-room {
  margin-bottom: 10px;
}

.activite-source {
  padding-top: 15px !important;
  font-size:10px !important;
  font-style:italic;
  text-align: left !important;

}



// BOOSTERS > NEUROSCIENCES + SINGAPOUR + MONTESSORI

// BOOSTERS > NEUROSCIENCES


.box-neurosciences {
    background-size: cover;
    background-position: center;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-neurosciences {
    height: 80px;
  }
} 

.box-neurosciences p {
    margin-bottom: 0px;
    color: white;
    font-size: 10px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 768px) {
  .box-neurosciences p{
    font-size: 15px;
    padding: 0 10px;
  }
} 

@media screen and (min-width: 992px) {
  .box-neurosciences p{
    font-size: 20px;
    padding: 0 10px;
  }
} 

// BOOSTERS > NEUROSCIENCES > ACTIVITÉS



.box-activites-container {
  margin-bottom: 10px;
}
 


.image-activite {
  display: block;
  margin: 0px auto;
}

.activite-source {
  padding-top: 15px !important;
  font-size:10px !important;
  font-style:italic;
  text-align: left !important;

}

// BOOSTERS > 3 SUPERS HÉROS > METHODE SINGAPOUR 


.box-activites-container {
  margin-bottom: 10px;
}

.box-container-singapour {
  margin-bottom: 10px;
}

.activite-source {
  padding-top: 15px !important;
  font-size:10px !important;
  font-style:italic;
  text-align: left !important;

}

// BOOSTERS > 3 SUPERS HÉROS >  METHODE MONTESSORI

.box-montessori-intro {
    background-color: #03bddf;
    // background-size: cover;
    // background-position: center;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // color: white;
    // font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    padding: 10px;
    // border: 4px solid #03bddf;
}

@media screen and (min-width: 992px) {
  .box-montessori-intro {
    height: 100%;
  }
} 


.box-montessori-intro h2 {
    margin-bottom: 0px;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.box-montessori-intro p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    // text-align: justify;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-montessori-intro p{
    font-size: 15px;
    padding: 0 10px;
  }
} 

.box-montessori-intro ul li {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    // text-align: justify;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-montessori-intro ul li{
    font-size: 15px;
    padding: 0 10px;
  }
} 

@media screen and (min-width: 992px) {
  .box-montessori-intro h2{
    font-size: 30px;
    padding: 0px 10px 10px 10px ;

  }
} 



// CERVEAU  #0596de #11689e

.box-cerveau {
    background-color: #0596de;
    background-size: cover;
    background-position: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-cerveau {
    height: 50px;
  }
} 


.box-cerveau p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-cerveau p{
    font-size: 30px;
    padding: 0 10px;
  }
} 

.box-cerveau-ok {
    background-color: #11689e;
    background-size: cover;
    background-position: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-cerveau-ok {
    height: 50px;
  }
} 


.box-cerveau-ok p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-cerveau-ok p{
    font-size: 30px;
    padding: 0 10px;
  }
} 

// CERVEAU > PLASTICITÉ

.box-plasticité {
    background-color: #ccecfa;
    background-size: cover;
    background-position: center;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-plasticité {
    height: 50px;
  }
} 


.box-plasticité p {
    margin-bottom: 0px;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-plasticité p{
    font-size: 30px;
    padding: 0 10px;
  }
} 

// CERVEAU > PLASTICITÉ > RESSOURCES


.box-plasticité-ressources{
    background-color: #03bddf;
    background-size: cover;
    background-position: center;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin: 20px 0px;
}

@media screen and (min-width: 992px) {
  .box-plasticité-ressources {
    height: 100%;
  }
} 


.box-plasticité-ressources p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    // text-align: center;
    padding: 5px;
}

.box-plasticité-ressources ul li a{
   color: white;
   text-decoration: none;
}

// DEV > CERVEAU > ÉMOTIONS





.box-activites-container {
  margin-bottom: 10px;
}

.box-container-emotion {
  margin-bottom: 10px;
}

.activite-source {
  padding-top: 15px !important;
  font-size:10px !important;
  font-style:italic;
  text-align: left !important;

}




// TROUBLES (HOME)

.box-troubles-margin-bottom {
  margin-bottom: 15px;
}

.box-troubles-1 {
    background-color: #0596de;
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}



@media screen and (min-width: 992px) {
  .box-troubles-1 {
    height: 100%;
    padding: 10px 10px;
    margin: 0px 100px;
  }
} 


.box-troubles-1 p.trouble-p-noir {
    color: #224358 !important;
    font-size: 18px !important;

}

@media screen and (min-width: 992px) {
  .box-troubles-1 p.trouble-p-noir {
    color: #224358 !important;
    font-size: 25px !important;
  }
} 

.box-troubles-1 p {
    margin-bottom: 0px;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-troubles-1 p{
    font-size: 20px;
    padding: 0 10px;
  }
} 

// TROUBLES AUDITION + VISUEL + ...

.box-troubles{
    background-size: cover;
    background-position: center;
    height: 100px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin: 20px 0px;
}

@media screen and (min-width: 992px) {
  .box-learnings {
    height: 150px;
  }
} 


.box-learnings.font-size {

}

.box-troubles p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    // text-align: center;
    padding: 5px;
}

.box-troubles ul li a{
   color: white;
   text-decoration: none;
}



//BOOSTERS APPRENTISSAGE



//DEVELOPMENT ENFANT

.box-dev {
    background-size: cover;
    background-position: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-dev {
    height: 150px;
  }
} 

.box-dev p {
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-dev p{
    font-size: 30px;
    padding: 0 10px;
  }
} 

//FRONT-PAGE

.box-level2 {
    height: 100px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560762484-813fc97650a0?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=967&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

// BOX EMOTION 6

.box-emotion-6 {
    background-color: #11689e;
    background-size: cover;
    background-position: center;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #224358;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-emotion-6 {
    height: 40px;
  }
} 


.box-emotion-6 p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-emotion-6 p{
    font-size: 25px;
    padding: 0 10px;
  }
} 

// BOX EMOTION 6

.box-cerveau-emotion-how {
    background-color: #0596de;
    background-size: cover;
    background-position: center;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .box-cerveau-emotion-how {
    height: 100px;
  }
} 


.box-cerveau-emotion-how p {
    margin-bottom: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-cerveau-emotion-how p{
    font-size: 30px;
    padding: 0 10px;
  }
} 




// BOX > BOOSTERS > JEU

.box-boosters-jeu{
    background-color: #0596de;
    background-size: cover;
    background-position: center;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    margin: 20px 0px;
}

@media screen and (min-width: 992px) {
  .box-boosters-jeu {
    height: 100%;
  }
} 


.box-boosters-jeu p {
    margin-bottom: 0px;
    color: white;
    font-size: 15px;
    // text-align: center;
    padding: 5px;
}

.box-boosters-jeu ul li a{
   color: white;
   text-decoration: none;
}

// HOME

// .card-category {
//   background-size: cover;
//   background-position: center;
//   height: 180px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
//   font-size: 24px;
//   font-weight: bold;
//   text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
//   border-radius: 5px;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }

