


.box-AAA-jeu-intel {
                background-color: #ccecfa;
                background-size: cover;
                background-position: center;
                height: 60px;
                display: flex;
                justify-content: left;
                align-items: center;
                // color: #224358;
                // font-weight: bold;
                // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
                border-radius: 5px;
                // box-shadow: 0 0 15px rgba(0,0,0,0.2);
                // margin-right: 15px;
                // margin-left: 15px;
                margin-bottom: 10px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-jeu-intel  {
                height: 60px;
            }
            } 


            .box-AAA-jeu-intel  p {
                margin-bottom: 0px;
                color: #224358;;
                font-size: 12px;
                text-align: left;
                padding: 5px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-jeu-intel  p{
                font-size: 12px;
                padding: 0 10px;
            }
            } 

            .box-AAA-jeu-intel  ul {
                margin: 0px;
            }

            .box-AAA-jeu-intel  ul li {
                margin-bottom: 0px;
                color: #224358;;
                font-size: 15px;
                text-align: left;
                // padding: 5px;
            }

            @media screen and (min-width: 768px) {
            .box-AAA-jeu-intel  ul li {
                font-size: 12px;
            }
            } 

            @media screen and (min-width: 992px) {
            .box-AAA-jeu-intel  ul li {
                font-size: 12px;
            }
            } 