.reclame-video-title {
    font-size:20px;
    font-weight:bold;
}


h2.reclame-video-title.version-mobile {
    font-size:12px;
    font-weight:bold;
}

@media screen and (min-width: 992px) {
  h2.reclame-video-title.version-mobile{
    font-size:20px;
  }
} 

div.col-lg-9.responsive-learning-reclame {
    padding:0px !important;
}

div.container.responsive-learning-reclame {
    padding:0px 15px !important;
}



@media screen and (min-width: 992px) {
  div.container.responsive-learning-reclame{
    padding:0px 24px !important;
  }
} 