.source {
    font-family: 'Open Sans', sans-serif; 
    font-style: italic;
    font-size: 12px;
    text-decoration: none;
}

.source:hover {
    text-decoration: none;
}

.source-link {
    text-decoration: none;
    color: #224358;
}

.source-link:hover {
    text-decoration: none;
    color: #224358;
}