


// BOX > AVEC DES BOX


            .box-container-AAA-jeu {
            margin-bottom: 10px;
            }


            
// TRANSVERSE- TRENSVERSE - TRANSVERSE ************************************************
// TRANSVERSE- TRENSVERSE - TRANSVERSE ************************************************
// TRANSVERSE- TRENSVERSE - TRANSVERSE ************************************************
// TRANSVERSE- TRENSVERSE - TRANSVERSE ************************************************

// BOX > BORDURE > "MENU DE NAVIGATION"
            // • apprentissages > jeu
            // • apprentissages > puzzle

                .box-AAA-menu-general {
                // background-color: #03bddf;
                // background-size: cover;
                // background-position: center;
                height: 100%;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // flex-direction: column;
                // color: white;
                // font-weight: bold;
                // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
                border-radius: 5px;
                // box-shadow: 0 0 15px rgba(0,0,0,0.2);
                // margin-right: 15px;
                // margin-left: 15px;
                padding: 10px;
                border: 4px solid #03bddf;
                padding-top: 20px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-menu-general{
                height: 100%;
            }
            } 


            .box-AAA-menu-general h2 {
                margin-bottom: 0px;
                color: #03bddf;
                font-size: 25px;
                text-align: center;
                padding: 5px;
                font-weight: bold;
            }

            .box-AAA-menu-general p {
                margin-bottom: 0px;
                // color: white;
                font-size: 15px;
                // text-align: justify;
                padding: 5px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-menu-general p{
                font-size: 15px;
                padding: 0 10px;
            }
            } 

            .box-AAA-menu-general ul li {
                margin-bottom: 0px;
                // color: white;
                font-size: 15px;
                // text-align: justify;
                padding: 5px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-menu-general ul li{
                font-size: 15px;
                padding: 0 10px;
            }
            } 


            @media screen and (min-width: 992px) {
            .box-AAA-menu-general h2{
                font-size: 30px;
                padding: 0px 10px 10px 10px ;

            }
            } 


            
             .box-AAA-menu-general-inside {
                background-color: #11689e;
                background-size: cover;
                background-position: center;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #224358;
                font-weight: bold;
                // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
                border-radius: 5px;
                // box-shadow: 0 0 15px rgba(0,0,0,0.2);
                // margin-right: 15px;
                // margin-left: 15px;
                margin-bottom: 10px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-menu-general-inside  {
                height: 40px;
            }
            } 


            .box-AAA-menu-general-inside  p {
                margin-bottom: 0px;
                color: white;
                font-size: 12px;
                text-align: center;
                padding: 5px;
            }


            @media screen and (min-width: 992px) {
            .box-AAA-menu-general-inside  p{
                font-size: 20px;
                padding: 0 10px;
            }
            } 


// BOX > BORDURE > BOUTON "MENU"
            // • apprentissages > jeu
            // • apprentissages > puzzle


            .box-AAA-menu {
                // background-color: #03bddf;
                // background-size: cover;
                // background-position: center;
                height: 100%;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // flex-direction: column;
                // color: white;
                // font-weight: bold;
                // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
                border-radius: 5px;
                // box-shadow: 0 0 15px rgba(0,0,0,0.2);
                // margin-right: 15px;
                // margin-left: 15px;
                border: 4px solid #03bddf;
                padding: 40px 5px 5px 5px;
                position: relative;
            }


            @media screen and (min-width: 992px) {
            .box-AAA-menu{
                height: 100%;
            }
            } 


            .box-AAA-menu h2 {
                margin-bottom: 15px;
                // color: #03bddf;
                font-size: 25px;
                text-align: center;
                padding: 5px;
                font-weight: bold;
            }
            
            .box-AAA-menu h3 {
                // margin-bottom: 0px;
                // color: #03bddf;
                font-size: 18px;
                color: #03bddf;
                // text-align: center;
                // padding: 5px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            .box-AAA-menu p {
                margin-bottom: 0px;
                // color: white;
                font-size: 15px;
                // text-align: justify;
                padding: 5px;
                color: #03bddf;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-menu p{
                font-size: 15px;
                padding: 0 5px;
            }
            } 

            .box-AAA-menu ul li {
                margin-bottom: 0px;
                // color: white;
                font-size: 15px;
                // text-align: justify;
                padding: 5px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-menu ul li{
                font-size: 15px;
                padding: 0 10px;
            }
            } 


            @media screen and (min-width: 992px) {
            .box-AAA-menu h2{
                font-size: 30px;
                padding: 0px 10px 10px 10px ;

            }
            } 



// BOX > BORDURE + TITLE BLUE
            // • apprentissages > jeu
            // • apprentissages > puzzle


.box-border-title-blue {
    // background-color: #03bddf;
    // background-size: cover;
    // background-position: center;
    height: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
    // color: white;
    // font-weight: bold;
    // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    border-radius: 5px;
    // box-shadow: 0 0 15px rgba(0,0,0,0.2);
    // margin-right: 15px;
    // margin-left: 15px;
    padding: 10px;
    border: 4px solid #03bddf;
}

@media screen and (min-width: 992px) {
  .box-border-title-blue {
    height: 100%;
  }
} 


.box-border-title-blue h2 {
    margin-bottom: 0px;
    color: #03bddf;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.box-border-title-blue p {
    margin-bottom: 0px;
    // color: white;
    font-size: 15px;
    // text-align: justify;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-border-title-blue p{
    font-size: 15px;
    padding: 0 10px;
  }
} 

.box-border-title-blue ul li {
    margin-bottom: 0px;
    // color: white;
    font-size: 15px;
    // text-align: justify;
    padding: 5px;
}

@media screen and (min-width: 992px) {
  .box-border-title-blue ul li{
    font-size: 15px;
    padding: 0 10px;
  }
} 


@media screen and (min-width: 992px) {
  .box-border-title-blue h2{
    font-size: 30px;
    padding: 0px 10px 10px 10px ;

  }
} 

// box-dev-cerveau-emotion
// box-border-title-blue












// SPÉCIFIQUE - SPÉCIFIQUE - SPÉCIFIQUE ************************************************
// SPÉCIFIQUE - SPÉCIFIQUE - SPÉCIFIQUE ************************************************
// SPÉCIFIQUE - SPÉCIFIQUE - SPÉCIFIQUE ************************************************
// SPÉCIFIQUE - SPÉCIFIQUE - SPÉCIFIQUE ************************************************





// ************************************************
// ************************************************
// ************************************************

            

            


// ************************************************
// ************************************************
// ************************************************

           
            
// ************************************************
// ************************************************
// ************************************************


// ************************************************
// ************************************************
// ************************************************

// INTELLIGENCE

            .box-AAA-jeu-intel {
                background-color: #ccecfa;
                background-size: cover;
                background-position: center;
                height: 60px;
                display: flex;
                justify-content: left;
                align-items: center;
                // color: #224358;
                // font-weight: bold;
                // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
                border-radius: 5px;
                // box-shadow: 0 0 15px rgba(0,0,0,0.2);
                // margin-right: 15px;
                // margin-left: 15px;
                margin-bottom: 10px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-jeu-intel  {
                height: 60px;
            }
            } 


            .box-AAA-jeu-intel  p {
                margin-bottom: 0px;
                color: #224358;;
                font-size: 15px;
                text-align: left;
                padding: 5px;
            }

            @media screen and (min-width: 992px) {
            .box-AAA-jeu-intel  p{
                font-size: 15px;
                padding: 0 10px;
            }
            } 

            .box-AAA-jeu-intel  ul {
                margin: 0px;
            }

            .box-AAA-jeu-intel  ul li {
                margin-bottom: 0px;
                color: #224358;;
                font-size: 12px;
                text-align: left;
                // padding: 5px;
            }

            @media screen and (min-width: 768px) {
            .box-AAA-jeu-intel  ul li {
                font-size: 15px;
            }
            } 

            @media screen and (min-width: 992px) {
            .box-AAA-jeu-intel  ul li {
                font-size: 15px;
            }
            } 




// ************************************************
// APPRENTISSAGES
            // • NATURE
            // • PUZZLE
// ************************************************

            // ************************************************
            // APPRENTISSAGES > NATURE
            // ************************************************

            .box-container-AAA-jeu-nature {
            margin-bottom: 10px;
            }
            
            

            // ************************************************
            // APPRENTISSAGES > JEU
            // ************************************************
